################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Archi_TP3/.vs/Archi_TP3/v16/Server/sqlite3
